body{
    margin: 0%;
    padding: 0%;
    background-color: aliceblue;
}
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Indie+Flower&family=Rajdhani:wght@500&family=Rubik+Moonrocks&display=swap');
@font-face {
    font-family: 'Rajdhani';
    src: url(https://fonts.googleapis.com/css2?family=Finlandica:ital@1&family=Indie+Flower&family=Rubik+Moonrocks&display=swap);
}
#body{
    display: flex;
    flex-direction: column;
}
#title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
#title p{
    font-family: 'Rajdhani';
    font-size: 3em;
    font-weight: 800;
    padding-bottom: 0%;
    margin-bottom: 0%;
    margin-top: 0%;
}
#title span{
    font-family: monospace;
    font-size: 1.5em;
    font-weight: 800;
}
#start-btn{
    border-radius: 10px;
    padding: 10px 5px 10px 5px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.658);
    color: white;
    border: none;
}
#start-btn:hover{
    background-color:rgba(51, 51, 51, 0.897);
}
#btn-box{
    display: flex;
    justify-content: center;
}
#content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#input-show{
    border: 1px solid red;
    border-radius: 5px;
    margin: 10px 0px 5px 0px;
    background-color: rgb(235, 205, 166);
}
#user-input{
    background-color: transparent;
    height: 30px;
    width: 380px;
    border: none;
    font-size: 1.2em;
    padding-left: 10px;
}
#del-btn{
    height: 35px;
    font-weight: 800;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}
#del-btn:hover{
    background-color: rgb(212, 0, 0);
}
#alphabets-boxes{
    display: flex;
    width: 100%;
}
#generated-letters{
    display: flex;
    width: 63%;
    justify-content: right;
}
#words-container{
    display: flex;
    justify-content: right;
    width: 37%;
    padding-right: 2%;
}
#wrong-words{
    height: 295px;
    width: 200px;
    background-color: rgba(221, 233, 252, 0.753);
    overflow-y: scroll;
    border: 3px solid rgba(111, 141, 168, 0.767);
    padding-left: 5px;
    border-radius: 5px;
}
h4{
    text-align: center;
    color: rgb(0, 86, 167);
}
#wrong-ul{
    padding-left: 12px;
    color: rgb(255, 47, 47);
}
.scroll::-webkit-scrollbar{
    width: 5px;
}
.scroll::-webkit-scrollbar-thumb{
    background-color: black;
    border-radius: 10px;
}
.scroll::-webkit-scrollbar-thumb:hover{
    background-color: rgb(97, 95, 95);
}
.scroll::-webkit-scrollbar-track{
    background-color: transparent;
}
#generated-letters{
    display: flex;
}
table{
    empty-cells: hide;
}
td{
    border-radius: 50%;
    border: 3px solid rgb(255, 0, 0);
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 1.9em;
    font-weight: 600;
    font-family: cursive;
    cursor: pointer;
}
td:hover{
    font-size: 2.2em;
    background-color: rgb(255, 71, 71);
}
#submit-btn{
    font-family: sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: rgb(255, 65, 65);
    cursor: pointer;
}
#submit-btn:hover{
    background-color: red;
}
#score{
    color: rgb(0, 0, 77);
}
#points{
    font-weight: normal;
    color: red;
}